<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoList</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
	  
	 <h1 style="color: purple"><%= kindOfDay%> ToDo List</h1>
	
		<%  for (var i=0; i<newListItems.length; i++) { %>
		 	 <li><%= newListItems[i] %></li>
											   
	  	<%	} %>
	  
	  <form action="/" method="POST">
		  <input type="text" name="newItem">
		  <button type="Submit" name="button">Add Item</button>
	  </form>
	 
	<!-- <script src="index.js"></script> -->
  </body>
</html>